[package]
name = "installer"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0"
winreg = "0.55.0"

[lints.clippy]
pedantic = { level = "warn", priority = -1 }
nursery = { level = "warn", priority = -1 }
